.fav-servers-card {
    margin-top: 15px;
}

.status-msg {
    text-align: center;
    padding: 20px !important;
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.leaderboard-table td:last-child {
    font-size: 11px;
    text-transform: uppercase;
}

.leaderboard-table tr:hover .nick-cell b {
    color: #ff9d00;
}

.table-center {
    text-align: center;
}

.table-right {
    text-align: right;
}

.ip-text {
    font-size: 10px;
    color: #444;
}