*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #121212;
    --surface-color: #1f1f1f;
    --border-color: #333333;
    --text-primary: #ffffff;
    --text-secondary: #aaaaaa;
    --accent-color: #ff9f43;
    --accent-hover: #ffbb73;
    --success-color: #2ed573;
    --error-color: #ff5252;
    --font-main: 'Google Sans', sans-serif;
    --font-logo: 'Rajdhani', sans-serif;
}

.p-loader, .p-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.p-loader {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

.p-error {
    color: var(--error-color);
    font-weight: 700;
    font-size: 18px;
}

.p-loader::before {
    content: '';
    width: 60px;
    height: 60px;
    border: 2px solid rgba(222, 255, 154, 0.1);
    border-top: 2px solid var(--accent-color);
    border-radius: 50%;
    margin-bottom: 20px;
    animation: spin 1s linear infinite;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: #111;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top:hover {
    border-color: #ff9d00;
    box-shadow: 0 0 15px rgba(255, 157, 0, 0.2);
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #ff9d00; /* Твій фірмовий колір */
    transition: transform 0.2s ease;
}

.scroll-to-top:hover .arrow-up {
    transform: translateY(-2px);
    border-bottom-color: #fff;
}